

.game{
width: 500px;
height: 500px;
background-color: rgb(45, 117, 93);

display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows:1fr 1fr 1fr;
gap: 10px;
}

.block{
background-color:rgb(124, 201, 201);
display: flex;
align-content: center;
justify-content: center;
font-family: cursive;

font-size: 130px;
}
.block:hover{
background-color: rgb(53, 43, 43);
}