*{
    padding: 0;
    margin: 0;
}
#oyun{
    width: 500px;
    height: 200px;
    border: 1px solid black;
}
#oyuncu{
    width: 20px;
    height: 50px;
    background-color: rgb(202, 92, 92);
    position: relative;
    top: 150px;
    }
   .animate{
    animation: zipla 400ms ;
   }
    
@keyframes zipla{
    0%{top: 150px;}
    30%{top:100px ;}
    70%{top: 100px;}
    100%{top: 150px;}
}
#blok{
    width: 20px;
    height: 20px;
    background-color: chartreuse;
    position: relative;
    top: 130px;
    left: 480px;
    animation: blok 2s infinite;
}
@keyframes blok{
    0%{left:480px;}
    100%{left: -50px;}
}